<!-- views/partials/footer.js-->
<footer>
    <div id="footer">
        <div>
            <p><i class="fas fa-seedling"></i></p>
            <h3>Productos Naturales</h3>
            <p></p>
            <p></p>
            <p></p>
        </div>
        <div>
            <p><i class="fas fa-carrot"></i></p>
            <h3>Apoyando el comercio local</h3>
            <p></p> 
            <p></p>
            <p></p>
        </div>
        <div>
            <p><i class="fas fa-barcode"></i></p>
            <h3>Precios Accesibles</h3>
            <p></p> 
            <p></p>
            <p></p>
        </div>
    </div>
    <br>
    <p class="copy">Copyright © 2021 Productos Locales</p>
</footer>