<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>
<body>
    <%- include ('./partials/header.ejs') %>
    <img width=100% height="200px" src="https://i.pinimg.com/originals/cf/a3/72/cfa3728cedde0decc1a9df988eaa4851.jpg">
    <main>
        <section>
            <h3 class="head3">Frutas y Verduras</h3>
            <div class="products">
                <article>
                    <img width=100% height="250px" src='/img/acelga.png'>
                    <div class="info">
                        <i class="fas fa-truck"></i>
                        <p class="precio">$6.770</p>
                        <p class="caracteristicas">manojo</p>
                        <h4 class="descripciones">Acelga</h4>
                    </div>
                </article>
                <article>
                    <img width=100%  height="250px" src='/img/apio.png'>
                    <div class="info">
                        <i class="fas fa-truck"></i>
                        <p class="precio">$230.000</p>
                        <p class="caracteristicas">manojo</p>
                        <h4 class="descripciones">Apio</h4>
                    </div>
                </article>
                <article>
                    <img width=100%  height="250px" src='/img/cebollin.png'>
                    <div class="info">
                        <i class="fas fa-truck"></i>
                        <p class="precio">$70.500</p>
                        <p class="caracteristicas">manojo</p>
                        <h4 class="descripciones">Cebollin</h4>
                    </div>
                </article>
                <article>
                    <img width=100% height="250px" src='/img/hongozeta.png'>
                    <div class="info">
                        <i class="fas fa-truck"></i>
                        <p class="precio">$23.200</p>
                        <p class="caracteristicas">Manojo</p>
                        <h4 class="descripciones">Hongo Zeta</h4>
                    </div>
                </article>
            </div>
        </section>
        <section>
            <h3 class="head3">Granos y semillas</h3>
            <div class="products">
                <article>
                    <img width=100% height="250px" src='/img/acelga.png'>
                    <div class="info">
                        <i class="fas fa-truck"></i>
                        <p class="precio">$6.770</p>
                        <p class="caracteristicas">manojo</p>
                        <h4 class="descripciones">Acelga</h4>
                    </div>
                </article>
                <article>
                    <img width=100%  height="250px" src='/img/apio.png'>
                    <div class="info">
                        <i class="fas fa-truck"></i>
                        <p class="precio">$230.000</p>
                        <p class="caracteristicas">manojo</p>
                        <h4 class="descripciones">Apio</h4>
                    </div>
                </article>
                <article>
                    <img width=100%  height="250px" src='/img/cebollin.png'>
                    <div class="info">
                        <i class="fas fa-truck"></i>
                        <p class="precio">$70.500</p>
                        <p class="caracteristicas">manojo</p>
                        <h4 class="descripciones">Cebollin</h4>
                    </div>
                </article>
                <article>
                    <img width=100% height="250px" src='/img/hongozeta.png'>
                    <div class="info">
                        <i class="fas fa-truck"></i>
                        <p class="precio">$23.200</p>
                        <p class="caracteristicas">Manojo</p>
                        <h4 class="descripciones">Hongo Zeta</h4>
                    </div>
                </article>
            </div>
        </section>
    </main>
    <br>
    <br>
    <%- include ('./partials/footer.ejs') %>
</body>
</html>