<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Productos Locales</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/Public/css/styles.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet"/>
</head>
<body>
    <header>
        <div class="header">
            <div class="logo">
                <img id="logo" width=50%; src="/Public/img/logo.png"">
            </div>
        <nav id="navbar">
            <ul>
                <li><a href="">Home</a></li>
                <li><a href="">Nosotros</a></li>
                <li><a href="">Soy productor</a></li>
                <li><a href="">Quiero comprar</a></li>
                <li><a href="">Contacto</a></li>
            </ul>
        </nav>
        </div>
        <div class="burger-menu">
            <i class="fas fa-bars"></i>
        </div><br>
    </header>
    <img width=100% height="300px" src="https://i.pinimg.com/originals/cf/a3/72/cfa3728cedde0decc1a9df988eaa4851.jpg">
    <main>
        <form action="/" method="POST">
            <div>
                <input class="input" type="text" name="nUsuario" placeholder="   Nombre de usuario">
            </div>
            <br>
            <div>
                <input class="input" type="password" name="password" placeholder="   Elegí tu contraseña">
            </div>
            <br>
            <div>
                <button class="login" type="submit">Enviar</button>
            </div>
            <br>
            <br>
        </form>
    </main>
    <footer>
        <div>
            <p><i class="fas fa-seedling"></i></p>

        </div>
        <div>
            <p><i class="fas fa-carrot"></i></p>

        </div>
        <div>
            <p><i class="fas fa-barcode"></i></p>

        </div>
        <br>
        <p class="copy">Copyright ©</p>
    </footer>
</body>
</html>