<!-- views/productCar.ejs-->
<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>
    <body>   
        <%- include ('./partials/header.ejs') %>
        <ol class="location">
            <li class="location item">
                <a href="/">Home</a>
                <i class="fas fa-chevron-right"></i>
            </li> 
            <li class="location item">
                <a href="productCar">Morral de compras</a>
                <i class="fas fa-chevron-right"></i>
            </li>
        </ol>
        <div class="Page Title">
            Morral de Compras
        </div>
    </body>
    <%- include ('./partials/footer.ejs') %>
</html>