<!-- views/productCar.ejs-->
<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>
    <body>   
        <%- include ('./partials/header.ejs') %>
        <ol class="location">
            <li class="location item">
                <a href="index.html">Home</a>
            </li>
            <i class="fas fa-chevron-right"></i>
        </ol>
    </body>
    <%- include ('./partials/footer.ejs') %>
</html>