<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sprint1</title>
</head>
<body>
    <h1>Sprint 1</h1>
    <h3>Wireframes</h3>
    <p>Home phone</p>
    <img width=20% src="/Public/img/Home phone.png">
    <p>Home</p>
    <img width=40% src="/Public/img/Home.png">
    <p>Login phone</p>
    <img width=20% src="/Public/img/login phone.png">
    <p>Login</p>
    <img width=40% src="/Public/img/login.png">
    <h3>Diseño del sitio</h3>
    <p>Logos</p>
    <img width=20% src="/Public/img/logo.png">
    <p>Colors</p>
    <img width=40% src="/Public/img/colors.png">
    <p>Fonts</p>
    <img width=40% src="/Public/img/Font.png">
</body>
</html>