* {
    box-sizing: border-box;
}
header{
    background-color: #664E4C;
}
footer{
    background-color: #C1D37F;
}
body{
    background-color: #F0E2A3;;
}
#navbar li a{
    color: white;
    text-decoration: none;
    margin-left: 50px;
    font-size: 20px;
}
#navbar ul{
    list-style: none;
    display: flex;
}
.header{
    display:flex;
    justify-content: space-between;
    margin: 10px;
    padding: 10px;
}
button{
    margin-left: 50px;
}
#logo{
    border-radius: 30%;
}
img{
    width: 100%;
}
article{
    border: 1px black solid;
    padding: 20px;
    box-sizing: border-box;
}
.input{
    margin-left: 20px;
    width:90%;
    text-align: center;
    height: 40px;;
}
.login{
    width: 80%;
    height: 30px;
}
@media (min-width: 720px) {
        .burger-menu{
            display:none;
        }
        .frutasVerduras{
            display:flex;
            justify-content: space-around;
        }
        .photo{
            width: 200px;
            height: 200px;
        }
    }